/* -------------------------- */
/*                            */
/*       Dropdown Menu        */
/*                            */
/* -------------------------- */

#announcement .menu small {
    float: right;
}

#menu-icon {
    float: left;
}

#announcement .menu .menu-title {
    white-space: normal;
}

.menu {
    list-style-type: none;
}

/* -------------------------- */
/*                            */
/*     Announcement Modal     */
/*                            */
/* -------------------------- */

#announcement-modal .modal-dialog, #announcement-modal-open .modal-dialog  {
    width: 900px;
}

@media(max-width: 767px) {
    .modal-dialog {
        width: 340px;
    }
}

.modal-content {
    margin-top: 67px;
}

@media(max-width: 767px) {
    .modal-content {
        margin-top: 210px;
    }
}

.modal-header {
    padding-top: 18px;
}

.modal-title .title {
    padding-top: 7px;
    margin-left: 4px;
    color: #FFF !important;
    display: inline-block;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.modal.danger .modal-title i {
    font-size: 16px;
    margin-right: 6px;
}

.modal-title .publish-on {
    font-size: 20px;
    float: right;
    padding-right: 15px;
    padding-top: 4px;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}

#task-name-modal-header {
    display: block;
}

#task-modal-content {
    max-height: 430px;
    overflow-y: scroll;
}

@media(max-width: 767px) {
    #task-modal-content {
        max-height: 230px;
        overflow-y: scroll;
    }
}

.announcement-description {
    word-break: break-word;
    padding-right: 35px;
}

div.announcement-description > p > img {
    max-width: 785px !important;
    display: block;
}

@media(max-width: 767px) {
    div.announcement-description > p > img {
        max-width: 230px !important;
        display: block;
    }
}

.modal-aware {
    margin-top: -20px;
}

.modal-aware .btn.btn-default.btn-aware {
    width: 230px !important;
    margin-top: -48px;
    margin-left: 15px;
}

@media(max-width: 767px) {
    .modal.danger .btn.btn-default {
        width: 20%;
    }
}

.modal.danger .modal-title .fa.fa-flag-o {
    font-size: 20px;
}

.modal-title .fa.fa-flag.text-red {
    font-size: 20px;
}

.announcement-type-info {
    color: var(--info-color);
}

.announcement-type-changelog {
    color: var(--success-color);
}

.announcement-type-maintenance {
    color: var(--warning-color);
}

.announcement-type-urgent {
    color: var(--facing-problems-color);
}

/* -------------------------- */
/*                            */
/* Announcement Modal - Open  */
/*                            */
/* -------------------------- */

@media(max-width: 767px) {
    #announcement-modal-open .modal-dialog {
        width: 310px;
    }
}

#announcement-modal-open .modal-body {
    max-height: 430px;
    overflow-y: overlay;
    background: #ecf0f5;
    padding-bottom: 8px;
}

@media(max-width: 767px) {
    #announcement-modal-open .modal-body {
        max-height: 290px;
    }
}

#announcement-modal-open .modal-body ul {
    list-style-type: none;
    padding: 0;
    width: 865px;
}

@media(max-width: 767px) {
    #announcement-modal-open .modal-body ul {
        margin-left: -40px;
        width: 320px;
    }
}

#announcement-modal-open .modal-body ul li {
    border-left: 1px solid #EAEAEA;
    border-right: 1px solid #EAEAEA;
    padding: 10px 1px 0px 10px;
    border-top: 1px solid #EAEAEA;
    background: #FFF !important;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    padding-right: 10px;
}

.announcement-card__header {
    padding-bottom: 10px;
    border-bottom: 1px solid #f4f4f4;
}

.announcement-card__date {
    float: right;
}

.modal-body .card-title {
    display: inline-block;
    font-size: 20px;
    margin-left: 5px;
}

.announcement-card__description {
    margin-top: 10px;
    margin-bottom: 10px;
    word-break: break-word;
    font-size: 14px;
    padding: 15px;
}

.announcement-card__description img {
    max-width: -webkit-fill-available;
}

.announcement-card__aware {
    border-top: 1px solid #f4f4f4;
}

.announcement-card__aware .btn.btn-default.btn-aware-card {
    width: 230px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.note-btn.btn.btn-default.btn-sm.btn-fullscreen {
    display: none;
}

.btn.btn-default.announcement {
    float: right !important;
}

.modal-content ::-webkit-scrollbar-thumb {
    background: #acacac3d;
}

.modal-content  ::-webkit-scrollbar-track {
    background: #e5e5e51f;
}
