body {
    background-size: cover;
}

.login-logo img {
     width: 300px;
}

.login-box-body, .register-box-body {
    box-shadow: 0 0 15px darkgrey;
}

#forgot-password-wrapper {
    padding: 9px 0px 0px 18px;
}

