.content-header{
    display: none;
}

/*CSS USER PROFILE*/

#profile{
    padding: 10px;
    margin: 0px;
}

#profile_photo{
    width: 100px;
}

#row-tab{
    padding: 0 10px 10px 10px;
}

#whitout-tasks{
    text-align: center;
}

.text-center{
    padding-top: 10px;
    padding-bottom: 10px;
}

.box-task{
    padding-left: 0px;
}

.cards-pills{
    width: 20%;
    float: left;
}

.hidden{
    display: none;
}

.icon-success{
    font-size:150px;
    color: #b3b6bd;
}

.queue-empty{
    color: #b3b6bd;
}

.profile-card-itens{
    padding:10px 15px;
}

.link-profile-center{
    text-align: center;
}

/* CSS GRID SEARCH USER */

.card-container{
    display: grid;
    grid-template-columns: 50px 50px 50px;
}

.card-container {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(6, minmax(160px, 1fr));
    grid-gap: 1rem;
}

.card {
    display: grid;
}

.user-card {
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: auto;
    margin: 5px;
}

.user-card-body{
    text-align: center;
    padding: 5px 5px 5px 5px;
    border-top: 1px solid #e8e8e8;
}

.user-card-title {
    display:table;
    width:100%;
    /*height: auto;*/
    min-height: 50px;
    font-weight: bold;
    border-bottom: 1px solid #e8e8e8;
}

.user-card-text {
    padding-top: 5px;
}

.logo{
    position: absolute;
    z-index: 2;
    width: 30px;
}

.user-card-img-top {
    width: 100%;

    z-index: -1;
}

.organization {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 45px 45px 0 0;
    position: absolute;
}



