{% load staticfiles %}
<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

        <title>{% block title %}{{ SystemShortName }}{% endblock %}</title>

        <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.min.css' %}">
        <link rel="stylesheet" href="{% static 'users/css/login.css' %}">
    </head>

    {% block content %}
    {% endblock content %}


    <script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    {% block extraJS %}
    {% endblock extraJS %}

</html>