{% extends "auth/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
    <body class="hold-transition" style="background-image: url('{% static 'img/background_login.jpg' %}');">
        <div class="login-box">
            <div class="login-logo">
                <img src="{% static 'img/logo.png' %}">
            </div>
            <div class="login-box-body">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <p class="login-box-msg">{% trans "Informe seu login e senha para iniciar" %}</p>
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group has-feedback">
                        <input type="email" class="form-control" placeholder="{% trans 'E-mail' %}" required name="username" autofocus>
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" class="form-control" placeholder="{% trans 'Senha' %}" required name="password">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    {% if form.errors %}
                        <div class="callout callout-warning">
                            <p>{% trans "Usuário ou senha inválidos!" %} </p>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div id="forgot-password-wrapper" class="col-xs-8">
                            <a href="{% url 'password_reset' %}">{% trans "Esqueci minha senha" %}</a>
                        </div>
                        <div class="col-xs-4">
                            <input type="hidden" name="next" value="{{ next }}"/>
                            <button type="submit" class="btn btn-primary btn-block btn-flat">{% trans "Entrar" %}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
{% endblock content %}

  
  