{% extends "dashboard/base.html" %}
{% load dashboard_tag %}
{% load i18n static %}

{% block title %}
    Password Changed
{% endblock title %}

{% block content_main %}
<div class="box box-default">
    <div class="box-body">
        <div class="callout callout-info ">
            <h4>Password Changed</h4>
            <p>Your password was changed successfully.</p>
        </div>
    </div>
    <div class="box-footer">
        <ul class="pager">
            <li><a href="{% url 'dashboard-index' %}" class="next">Go to dashboard  <i class="fa fa-home"></i></a></li>
        </ul>
    </div>
</div>
{% endblock content_main %}

{% block content_title %}
    <span>Password Changed</span>
{% endblock content_title %}
