{% extends "dashboard/base.html" %}
{% load dashboard_tag %}
{% load i18n static %}

{% load crispy_forms_tags %}

{% block content_main %}
<form method="post">{% csrf_token %}
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title"><span>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</span></h3>
    </div>
    <div class="box-body">
        <div class="form-horizontal">
            {% crispy form helper  %}
        </div>
    </div>
    <div class="box-footer">
         <div class="btn-group pull-right">
            <input type="submit" value="{% trans 'Change my password' %}" class="btn btn-success">
         </div>
    </div>
</div>
</form>
{% endblock content_main %}

{% block title %}
    Change password
{% endblock %}

{% block content_title %}
    <span>Change Password</span>
{% endblock %}
