{% extends "auth/base.html" %}
{% load staticfiles %}
{% load i18n static %}
{% load crispy_forms_tags %}

{% block title %}
    Password Reset
{% endblock %}

{% block content %}
<body class="hold-transition" style="background-image: url('{% static 'img/background_login.jpg' %}');">
    <div class="login-box">
        <div class="login-logo">
            <img src="{% static 'img/logo.png' %}" width="300px" alt="{{ SystemLongName }}" title="{{ SystemLongName }}">
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <b>{% trans "Esqueceu sua senna?" %}</b>
            <p>{% trans "Informe seu email e enviaremos instruções para recuperar seu acesso." %}</p>
        <form method="post">{% csrf_token %}
            <div class="form-horizontal">
                {% crispy form helper  %}
            </div>
            <div class="row">
                <div class="col-xs-4"></div>
                <div class="col-xs-8">
                    <input type="submit" class="btn btn-primary btn-block btn-flat" value="{% trans 'Reset my password' %}">
                </div>
            </div>
        </form>
        </div>
    </div>
{% endblock content %}
