{% extends "auth/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<body class="hold-transition" style="background-image: url('{% static 'img/background_login.jpg' %}');">
    <div class="login-box">
        <div class="login-logo">
            <img src="{% static 'img/logo.png' %}" width="300px">
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <div class="col-xs-2"></div>
            <div class="col-xs-10">
                <b>{% trans "Your password has been set." %}</b>
                <p>{% trans "You may go ahead and log in now." %}</p>
            </div>
            <div class="row">
            <div class="col-xs-4"></div>
                <div class="col-xs-4">
                    <a href="{{ login_url }}" class="btn btn-primary btn-block btn-flat">{% trans 'Log in' %}</a>
                </div>
            <div class="col-xs-4"></div>
            </div>
        </div>
    </div>
{% endblock %}
