{% extends "auth/base.html" %}
{% load staticfiles %}
{% load i18n static %}

{% block title %}
    Password Reset
{% endblock %}

{% block content %}
<body class="hold-transition" style="background-image: url('{% static 'img/background_login.jpg' %}');">
    <div class="login-box">
        <div class="login-logo">
            <img src="{% static 'img/logo.png' %}" width="300px">
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <b>{% trans "Password reset sent" %}</b>
            <p></p>
            <p>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>
            <p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
            <div class="row">
                <div class="col-xs-6"></div>
                <div class="col-xs-6"></div>
            </div>
        </div>
    </div>
{% endblock content %}


