{% extends "auth/base.html" %}
{% load staticfiles %}
{% load i18n static %}
{% load crispy_forms_tags %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<body class="hold-transition" style="background-image: url('{% static 'img/background_login.jpg' %}');">
    <div class="login-box">
        <div class="login-logo">
            <img src="{% static 'img/logo.png' %}" width="300px" alt="{{ SystemLongName }}" title="{{ SystemLongName }}">
        </div>
        <!-- /.login-logo -->
        <form method="post">{% csrf_token %}
        <div class="login-box-body">
        {% if validlink %}
            <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
                    {% crispy form %}
                <div class="row">
                    <div class="col-xs-6"></div>
                    <div class="col-xs-6">
                        <input type="submit" class="btn btn-primary btn-block btn-flat" value="{% trans 'Change my password' %}">
                    </div>
                </div>
        {% else %}
            <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
        {% endif %}
        </div>
        </form>
    </div>
{% endblock %}
