{% extends "dashboard/base.html" %}
{% load dashboard_tag %}
{% load i18n static %}

{% load crispy_forms_tags %}

{% block content_main %}
    <form method="POST" action="{% url 'users-change-password' %}" >
    <div class="box box-default" id="app">
        <div class="box-header with-border">
            <h3 class="box-title"><span>{% trans "Change password" %}</span></h3>
        </div>


        <div class="box-body">

            <div class="callout callout-info">
                <h4>Changing password for:</h4>

                <ul>
                    {% for user in user_list %}
                        <li>{{ user }}</li>
                    {% endfor %}
                </ul>

            </div>

            <div class="form-horizontal">
                {% crispy form helper %}

                <input type="hidden" name="ids" value="{{ ids }}">

            </div>
        </div>

        <div class="box-footer">
            <a href="javascript:history.back();" class="btn btn-default"><i class="fa fa-arrow-left"></i>&nbsp;Back</a>
            <div class="btn-group pull-right">
                <input type="submit" value="{% trans 'Change password' %}" class="btn btn-success">
            </div>
        </div>
    </div>
    </form>
{% endblock content_main %}

{% block extraHead %}

{% endblock extraHead %}

{% block extraJS %}

{% endblock extraJS %}

{% block title %}
    Change password
{% endblock %}

{% block content_title %}
    Set new password
{% endblock %}
