{% extends "dashboard/base.html" %}
{% load dashboard_tag %}
{% load i18n static %}

{% load crispy_forms_tags %}

{% block content_main %}
    <div class="box box-default" id="app">
        <div class="box-header with-border">
            <h3 class="box-title"><span>{% trans "Please enter your photo." %}</span></h3>
        </div>
        <div class="box-body">


            <div class="row">
                     <div class="control-label col-lg-4 col-lg-offset-2">
                        <label id="label_browse" for="browse">Actual Image:</label>
                        <div class="img__wrap">
                                {% if avatar_url %}
                                <img id="avatar_user" class="img-circle img__img" width="200" src="{{ avatar_url }}"
                                     alt="your image"/>
                                {% else %}
                                <img id="avatar_user" class="img-circle img__img" width="200" src="/static/img/default_user.png"
                                     alt="your image"/>
                                {% endif %}
                                    <div class="img__description_layer">
                                        <h3 class="img__description">Upload Image</h3>
                                    </div>
                                    <input id="browse" type="file" @change="upload($event)" style="display:none">
                        </div>
                    </div>

                    <div class="control-label col-lg-4 col-lg-offset-2">
                        <label id="label_browse" for="browse">New Image:</label>
                        <clipper-fixed
                                class="my-clipper"
                                ref="clipper"
                                :src="imgURL"
                                :round="true"
                                preview="fixed-preview" width="100" >
                                <div class="placeholder" slot="placeholder">No image</div>
                        </clipper-fixed>
                    </div>

        </div>
        <div class="box-footer">
            <a href="javascript:history.back();" class="btn btn-default"><i class="fa fa-arrow-left"></i>&nbsp;Back</a>
            <div class="btn-group pull-right">
                <input type="submit" @click="saveImage()" value="{% trans 'Save' %}" class="btn btn-success">
            </div>
        </div>
    </div>
    </div>
{% endblock content_main %}

{% block extraHead %}

    <link rel="stylesheet" href="{% static 'node_modules/vuejs-clipper/dist/vuejs-clipper.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/avatar.css' %}">
{% endblock extraHead %}

{% block extraJS %}
    <script src="{% static 'node_modules/vuejs-clipper/dist/vuejs-clipper.umd.min.js' %}"></script>
    <script src="{% static 'users/vue_libs/avatar.js' %}"></script>
    <script src="{% static 'users/js/avatar.js' %}"></script>
    <script>
        app.csrf_token = '{{ csrf_token }}';
    </script>

{% endblock extraJS %}

{% block title %}
    Update Avatar
{% endblock %}

{% block content_title %}
<span>Update Avatar</span>
{% endblock %}
