{% extends "dashboard/base.html" %}
{% load dashboard_tag %}
{% load i18n static %}

{% load crispy_forms_tags %}

{% block content_main %}
<form method="post" enctype="multipart/form-data">{% csrf_token %}
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title"><span>{% trans "Please enter your first and last name." %}</span></h3>
        </div>
        <div class="box-body">
            <div class="form-horizontal">

                <!--<div class="form-group">-->
                    <!--<div class="control-label col-lg-2 requiredField">-->
                        <!--{% if form.avatar_url.value %}-->
                        <!--<img id="avatar_user" class="img-circle" width="100" height="100" src="{{ avatar_url }}"-->
                             <!--alt="your image"/>-->
                        <!--{% else %}-->
                        <!--<img id="avatar_user" class="img-circle" width="100" height="100" src="/static/img/default_user.png"-->
                             <!--alt="your image"/>-->
                        <!--{% endif %}-->
                    <!--</div>-->

                    <!--<label class="control-label col-lg-10 ">-->
                        <!--{{ form.avatar }}-->
                    <!--</label>-->
                <!--</div>-->

                <div class="form-group">
                    <label class="control-label col-lg-2 requiredField">
                        {{ form.first_name.label }}<span class="asteriskField">*</span>
                    </label>
                    <div class="controls col-lg-10">
                        {{ form.first_name }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-2 requiredField">
                        {{ form.last_name.label }}<span class="asteriskField">*</span>
                    </label>
                    <div class="controls col-lg-10">
                        {{ form.last_name }}
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <a href="javascript:history.back();" class="btn btn-default"><i class="fa fa-arrow-left"></i>&nbsp;Back</a>
            <div class="btn-group pull-right">
                <input type="submit" value="{% trans 'Change my profile' %}" class="btn btn-success">
            </div>
        </div>
    </div>
    </div>
</form>
{% endblock content_main %}

{% block extraJS %}
<!--<script>-->
    <!--$(function () {-->
    <!--$(":file").change(function () {-->
        <!--if (this.files && this.files[0]) {-->
            <!--var reader = new FileReader();-->
            <!--reader.onload = imageIsLoaded;-->
            <!--reader.readAsDataURL(this.files[0]);-->
        <!--}-->
    <!--});-->
<!--});-->

<!--function imageIsLoaded(e) {-->
    <!--$('#avatar_user').attr('src', e.target.result);-->
<!--};-->
<!--</script>-->
{% endblock extraJS %}

{% block title %}
    User Profile
{% endblock %}

{% block content_title %}
<span>Change Profile</span>
{% endblock %}
