{% extends "dashboard/base.html" %}
<!--{% load dashboard_tag %}-->
{% load i18n static %}

{% load crispy_forms_tags %}

{% block title %}Profile{% endblock %}

{% block extraHead %}
<link rel="stylesheet" href="{% static 'users/css/search_users.css' %}">
<script>
    setTimeout(() => {
        $("#search_tasks_wrapper").parent('.box.box-default').addClass('hidden');
    }, 400);

    const csrf_token = '{{ csrf_token }}';
</script>

{% endblock extraHead %}


{% block content_main %}
<div class="row">
    <div class="col-md-3" s>
            <div class="box box-widget widget-user-2">
                <div class="box box-default" style="padding: 10px; margin: 0px " id="profile">
                    <div class="row">
                        <div class="col-md-5">
                            <a href="{% url 'profile-avatar-update' %}">
                                <img src={{user_selected.get_avatar_url}} id="profile_photo"
                                class="profile-user-img img-responsive img-circle img-thumbnail" alt="{{user_selected}}">
                            </a>
                        </div>
                        <div class="col-md-7" style="padding-left: 0px">
                            <h3 style="margin-top:5px; margin-bottom: 15px">{{user_selected}}</h3>
                            <h5>{{departments}}</h5>
                        </div>
                    </div>
                </div>

                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">
                        <li class="profile-card-itens">Organization: <span class="pull-right">{{user_selected.profile.organization}}</span></li>
                        <li class="profile-card-itens">HR Level: <span class="pull-right">{{user_selected.profile.rh_level}}</span></li>
                        <li>
                            <div class="profile-card-itens">
                                Email:
                                <a href="mailto:{{user_selected.email}}" class="pull-right">{{user_selected.email}}</a>
                            </div>
                        <li class="profile-card-itens">Cyber Security expires in: <span id="cyber-security" class="pull-right">{{user_selected.profile.cyber_security_date|timeuntil }}</span></li>
                        {% if user.id == user_selected.id %}
                        <li>
                            <div class="profile-card-itens link-profile-center">
                                <a href="{% url 'profile-user-change' %}" class="no-border text-center">Change Profile</a>
                            </div>
                        </li>
                        <li>
                            <div class="profile-card-itens link-profile-center">
                                <a href="{% url 'profile-avatar-update' %}" class="no-border text-center">Change Avatar</a>
                            </div>
                        </li>
                        <li>
                            <div class="profile-card-itens link-profile-center">
                                <a href="{% url 'profile-password-change' %}" class="no-border text-center">Change Password</a>
                            </div>
                        </li>
                        <li>
                            <div class="profile-card-itens link-profile-center">
                                <a href="{% url 'evaluations-my-evaluation-process-list' %}" class="no-border text-center">My Evaluations</a>
                            </div>
                        </li>

                        {% endif %}
                    </ul>
                </div>
            </div>
    </div>

    <div class="col-md-9 box-task">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <div class="row" id="row-tab">
                    {% for key, task_status in user_card_style.items %}
                    <div class="cards-pills">
                        <li class="nav-item {% if forloop.first %} active {% endif %}">
                            <div class="small-box {{task_status.2}}" style="margin:3px">
                                <div class="inner">
                                    <a class="nav-link" id="{{key|slugify}}-tab" data-toggle="pill"
                                       href="#{{key|slugify}}" role="tab" aria-controls="pills-home"
                                       aria-selected="true" onclick="updateTable('{{forloop.counter}}')">
                                        <span style="color:white">
                                            <h3></h3>
                                            <p>{{key}}</p>
                                        </span>
                                        <div class="icon">
                                            <i class="{{ task_status.1}}"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </div>
                    {% endfor %}
                </div>
            </ul>
    </div>

    <div class="col-md-9 box-task">
        <div class="box hidden" id="table-box">
            <div class="box-body">
                <table id="search_tasks" class="table table-bordered table-hover dataTables_scrollBody">
                    <thead>
                        <tr>
                            <th>PL</th>
                            <th>Account</th>
                            <th>Site ID</th>
                            <th>Activity Type</th>
                            <th>Status</th>
                            <th>Priority</th>
                            <th>Due date</th>
                            <th>Status Tag</th>
                            <th>Ext. Key</th>
                            <th>Tech. Scenario</th>
                            <th>Project</th>
                            <th>Last Update</th>
                            <th>Tags</th>
                            <th>DU</th>
                        </tr>
                    </thead>
                </table>
                <div class="hidden" id="whitout-tasks">
                    <i class="glyphicon glyphicon-check icon-success"></i>
                    <h3 class="queue-empty">Your queue is empty</h3>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}


{% block extraJS %}
    <script src="{% static 'node_modules/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'node_modules/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'node_modules/datatables.net-select/js/dataTables.select.min.js' %}"></script>
    <script src="{% static 'node_modules/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'node_modules/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'node_modules/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'node_modules/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'node_modules/pdfmake/build/vfs_fonts.js' %}"></script>
    <script src="{% static 'node_modules/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'users/js/user_profile.js' %}"></script>

    <script>
        let allowedToShowTasks = true;

        let filter = {
            "submitted":true,
            "query": [],
        };

        let scopetask = {};
        scopetask[getScopeTaskStatusName(0)] = {{ work_scope_not_stated }};
        scopetask[getScopeTaskStatusName(1)] = {{ work_scope_play }};
        scopetask[getScopeTaskStatusName(2)] = {{ work_scope_pause }};
        scopetask[getScopeTaskStatusName(3)] = {{ work_scope_facing_problems }};
        scopetask[getScopeTaskStatusName(4)] = {{ work_scope_resolve }};

       validateBeforeQuery(1);

       $('#not-started-tab h3').text(scopetask[getScopeTaskStatusName(0)].length);
       $('#play-tab h3').text(scopetask[getScopeTaskStatusName(1)].length);
       $('#pause-tab h3').text(scopetask[getScopeTaskStatusName(2)].length);
       $('#facing-problems-tab h3').text(scopetask[getScopeTaskStatusName(3)].length);
       $('#resolve-tab h3').text(scopetask[getScopeTaskStatusName(4)].length);
    </script>
{% endblock extraJS %}