:root {
  --success-color: #149E5F;
  --facing-problems-color: #E35241;
  --in-progress-color: #5B5B5B;
  --failed-color: #E35241;
  --warning-color: #E4AB46E6;
  --cancelled-color: #B6B9BD;
  --postponed-color: #B6B9BD;
  --done-color: #05BB05;
  --initial-color: #444;
  --initial-dependent-color: #B6B9BD;
  --info-color: #2DB3D5;
}

.btn-info {
    background-color: var(--info-color) !important;
}

.btn-warning, .bg-yellow, .callout.callout-warning, .alert-warning, .label-warning, .modal-warning .modal-body {
    background-color: var(--warning-color) !important;
}

.btn-danger, .bg-red, .callout.callout-danger, .alert-danger, .alert-error, .label-danger, .modal-danger .modal-body {
    background-color: var(--facing-problems-color) !important;
}

.btn-success, .bg-green, .bg-green-active, .callout.callout-success, .alert-success, .label-success,
.modal-success .modal-body {
    background-color: var(--success-color) !important;
}

/* -------------------------- */
/*                            */
/* Outline Btn Custom Style   */
/*                            */
/* -------------------------- */

.btn-outline-primary-no-hover {
    color: #007bff;
    background-color: transparent;
    background-image: none;
    border-color: #007bff;
}

.btn-outline-primary-no-hover:hover {
    color: #007bff;
    background-color: transparent;
    background-image: none;
    border-color: #007bff;
    cursor: default;
}

.btn-outline-primary {
    color: #007bff;
    background-color: transparent;
    background-image: none;
    border-color: #007bff;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-outline-primary.focus, .btn-outline-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5);
}

.btn-outline-secondary-no-hover {
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border-color: #6c757d;
    border-radius: 3px;
}

.btn-outline-secondary-no-hover:hover {
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border-color: #6c757d;
    cursor: default;
}

.btn-outline-secondary {
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border-color: #6c757d;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    cursor: default;
}

.btn-outline-secondary.focus, .btn-outline-secondary:focus {
    box-shadow: 0 0 0 0.2rem rgba(108,117,125,.5);
}

.btn-outline-success-no-hover {
    color: #28a745;
    background-color: transparent;
    background-image: none;
    border-color: #28a745;
}

.btn-outline-success-no-hover:hover {
    color: var(--success-color);
    background-color: transparent;
    background-image: none;
    border-color: var(--success-color);
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-box-shadow: none;
    cursor: default;
}

.btn-outline-success {
    color: var(--success-color);
    background-color: transparent;
    background-image: none;
    border-color: var(--success-color);
}

.btn-outline-success:hover {
    color: #fff;
    background-color: var(--success-color);
    border-color: var(--success-color);
}

.btn-outline-success.focus, .btn-outline-success:focus {
    box-shadow: 0 0 0 0.2rem rgba(40,167,69,.5);
}

.btn-outline-danger-no-hover {
    color: var(--facing-problems-color);
    background-color: transparent;
    background-image: none;
    border-color: var(--facing-problems-color);
}

.btn-outline-danger-no-hover:hover {
    color: var(--facing-problems-color);
    background-color: transparent;
    background-image: none;
    border-color: var(--facing-problems-color);
    cursor: default;
}

.btn-outline-danger {
    color: var(--facing-problems-color);
    background-color: transparent;
    background-image: none;
    border-color: var(--facing-problems-color);
}

.btn-outline-danger:hover {
    color: #fff;
    background-color: var(--facing-problems-color);
    border-color: var(--facing-problems-color);
}

.btn-outline-danger.focus, .btn-outline-danger:focus {
    box-shadow: 0 0 0 0.2rem rgba(220,53,69,.5);
}

.btn-outline-warning-no-hover {
    color: var(--warning-color);
    background-color: transparent;
    background-image: none;
    border-color: var(--warning-color);
}

.btn-outline-warning-no-hover:hover {
    color: var(--warning-color);
    background-color: transparent;
    background-image: none;
    border-color: var(--warning-color);
    cursor: default;
}

.btn-outline-warning {
    color: var(--warning-color);
    background-color: transparent;
    background-image: none;
    border-color: var(--warning-color);
}

.btn-outline-warning:hover {
    color: #212529;
    background-color: var(--warning-color);
    border-color: var(--warning-color);
}

.btn-outline-warning.focus, .btn-outline-warning:focus {
    box-shadow: 0 0 0 0.2rem rgba(255,193,7,.5);
}

.btn-outline-info-no-hover {
    color: var(--info-color);
    background-color: transparent;
    background-image: none;
    border-color: var(--info-color);
}

.btn-outline-info-no-hover:hover {
    color: var(--info-color);
    background-color: transparent;
    background-image: none;
    border-color: var(--info-color);
    cursor: default;
}

.btn-outline-info {
    color: var(--info-color);
    background-color: transparent;
    background-image: none;
    border-color: var(--info-color);
}

.btn-outline-info:hover {
    color: #fff;
    background-color: var(--info-color);
    border-color: var(--info-color);
}

.btn-outline-info.focus, .btn-outline-info:focus {
    box-shadow: 0 0 0 0.2rem rgba(23,162,184,.5);
}

.btn-outline-light-no-hover {
    color: #f8f9fa;
    background-color: transparent;
    background-image: none;
    border-color: #f8f9fa;
}

.btn-outline-light-no-hover:hover {
    color: #f8f9fa;
    background-color: transparent;
    background-image: none;
    border-color: #f8f9fa;
    cursor: default;
}

.btn-outline-light {
    color: #f8f9fa;
    background-color: transparent;
    background-image: none;
    border-color: #f8f9fa;
}

.btn-outline-light:hover {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-outline-light.focus, .btn-outline-light:focus {
    box-shadow: 0 0 0 0.2rem rgba(248,249,250,.5);
}

.btn-outline-dark-no-hover {
    color: #343a40;
    background-color: transparent;
    background-image: none;
    border-color: #343a40;
}

.btn-outline-dark-no-hover:hover {
    color: #343a40;
    background-color: transparent;
    background-image: none;
    border-color: #343a40;
    padding-left: 15px !important;
    cursor: default;
}

.btn-outline-dark {
    color: #343a40;
    background-color: transparent;
    background-image: none;
    border-color: #343a40;
}

.btn-outline-dark:hover {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.btn-outline-dark.focus, .btn-outline-dark:focus {
    box-shadow: 0 0 0 0.2rem rgba(52,58,64,.5);
}

.index-widget .info-box-icon {
    background-color: var(--facing-problems-color) !important;
}

.white-icon > i {
    color: #FFF !important;
}

.green-icon > i {
    color: #28A745 !important;
}

.yellow-icon > i {
    color: #FFC107 !important;
}

.red-icon > i {
    color: #DC3545 !important;
}

.gray-icon > i {
    color: #6C757D !important;
}

.bg-maroon {
    background-color: #CD4174 !important;
}

.bg-blue {
    background-color: #337AB7 !important;
}

.text-blue {
    color: #337AB7 !important;
}

.text-red {
    color: var(--facing-problems-color) !important;
}

.text-aqua {
    color: #00c0ef !important;
}

.text-yellow {
    color: #f39c12 !important;
}

.text-green {
    color: #00a65a !important;
}

:root {
  --sidebar-hover-menu-size: 220px;
}

.no-padding {
    padding: 0 !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

th {
    text-align: left !important;
}

.box-header {
    padding: 8px !important;
}

.table {
    margin-bottom: 0 !important;
}

.notification-text {
    white-space: pre-wrap;
}

.notify_list>li .notify-tools {
    display: none;
    position: relative;
    top: -20px;
    right: 10px;
}

.navbar-nav>.messages-menu .dropdown-menu {
    width: 380px !important;
    padding: 0 0 0 0;
    margin: 0;
    top: 100%;
}

.notify_list>li:hover .notify-tools {
    display: inline-block;
}

.asteriskField {
    color: red;
}

td > .controls > .checkboxinput {
    margin-left: 0;
    position: relative;
}

.checkboxinput {
    margin-top: 11px !important;
}

.checkbox label, .radio label {
    padding-left: 0 !important;
}

.stripped:nth-child(even){
    background-color: #f9f9f9;
    padding: 10px;
}
.stripped:nth-child(odd){
  background-color: #ffffff;
    padding: 10px;
}

td {
    display: table-cell !important;
}

.textarea {
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    border: 1px solid #dddddd;
    padding: 6px !important;
}

[v-cloak] {
    display: none;
}

td.details-control {
    text-align: center;
    color:  var(--success-color);
    cursor: pointer;
}

tr.shown td.details-control {
    text-align: center;
    color: red;
}

.scroll-modal{
    height: 290px;
    overflow:hidden;
    overflow-y:auto;
}

#drop {
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-size: 2.0em;
    color: #bbb;
}

.is-dragover {
    background-color: lightyellow;
}

.input-invalid {
    background-color: rgba(255, 0, 0, 0.2) !important;
}
a:hover {
 cursor:pointer;
}

.bg-modal-wrapper {
    background-color: #ecf0f5;
}

.input_bulk {
    background: transparent;
    border: none;
}

.dataTable {
    width: 100% !important;
}

table.dataTable tbody > tr.selected,
table.dataTable tbody > tr > .selected {
  background-color: #bbb;
}

table.dataTable tbody tr.selected,
table.dataTable tbody
table.dataTable tbody td.selected {
  color: white;
}

.sorting {
    cursor:default  !important;
    white-space: nowrap;
}

.sorting a {
    color: black !important;
}

.action-form {
    display: contents !important;
}

.sorting_desc:after {
    opacity: 0.5 !important;
}
.sorting_asc:after {
    opacity: 0.5 !important;
}

/* Define color in Django Table2 Boolean Columns */
.false {
    color: var(--facing-problems-color);
}

/* Define color in Django Table2 Boolean Columns */
.true {
    color: var(--success-color);
}

.table_indentation {
    margin-left: 10px;
}

.space-before-text:before {
   content: "\00a0";
   padding-right: 9px;
}

.excluded {
    background-color: #ddb5af;
}

.hidden {
    visibility:hidden;
}

.btn-trash {
    background-color: transparent;
    border: none;
    float: right;
    color: #DD4B39;
    border: none;
}

.modal {
  overflow-y:auto;
}

.datepicker.dropdown-menu {
    z-index: 9999 !important;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    z-index: 9999 !important;
    white-space: normal !important;
}

.note-toolbar.panel-heading, .note-editor.note-airframe .note-statusbar, .note-editor.note-frame .note-statusbar,
.note-editor.note-airframe .note-statusbar .note-resizebar, .note-editor.note-frame .note-statusbar .note-resizebar {
    background-color: #FAFAFAC2 !important;
}

.note-icon-bar {
    border-top: 1px solid #D0D0D0 !important;
}

.note-editor.note-airframe, .note-editor.note-frame {
    border: 1px solid #A9A9A985 !important;
}

/* -------------------------- */
/*                            */
/* Box Custom Forms           */
/*                            */
/* -------------------------- */

.box {
    border-radius: 0px;
}

.box.box-default {
    border-top: 2px solid #D2D6DE;
}

.box.box-primary {
    border-top: 2px solid #3C8DBC;
}

.box.box-success {
    border-top: 2px solid var(--success-color);
}

.box.box-info {
    border-top: 2px solid var(--info-color);
}

.box.box-warning {
    border-top: 2px solid var(--warning-color);
}

.box-danger {
    border-top: 2px solid var(--facing-problems-color);
}

.box-header .box-title {
    padding-top: 5px;
    font-size: 20px;
}

/* -------------------------- */
/*                            */
/* Custom Forms               */
/*                            */
/* -------------------------- */

.form-group label {
    font-weight: 400;
}

/* -------------------------- */
/*                            */
/* Custom Header and Side Bar */
/*                            */
/* -------------------------- */

body {
    height: -webkit-calc(100vh - 52px);
    height: -moz-calc(100vh - 52px);
    height: calc(100vh - 52px);
    overflow-y: hidden;
}

/* New content */

.content {
    min-height: calc(100vh - 195px);
}

.wrapper {
    margin-top: 52px;
    overflow-y: hidden;
}

.content-wrapper {
    min-height: 0px;
    height: 100%;
    overflow-y: scroll;
    background-color: #ECF0F5;
}

#panel-section {
    min-height: calc(100vh - 67px);
}

.content, .content-header {
    background: #ECF0F5 !important;
}

.navbar-default {
    background-color: white;
}

.navbar-custom-menu > ul > li > a {
    color: #444 !important;
}

.navbar-default .navbar-nav > li > a:hover {
    background-color: #F3F3F3 !important;
}

.skin-red .main-header .navbar .nav>.active>a {
    background: #F3F3F3;
}

@media (max-width: 767px) {
.skin-red .main-header .navbar .dropdown-menu li a {
     color: inherit !important;
    }
}

#navbar-collapse > ul > li > a {
    color: #444 !important;
}

.navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
    position: absolute;
    right: 0;
}

@media (max-width:991px) {
    .navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
        right: 0;
        left: 0;
    }
}

.dropdown-menu {
    font-size: 12px;
}

.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a {
    color: #444444;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
}

.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a .fa {
    width: 30px;
    font-size: 20px;
}

.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a .fa.fa-clock-o {
    width: 10px;
    font-size: 10px;
}

.main-header {
    position: fixed;
    top: 0;
    width: 100%;
    border-top: 1px solid #4444;
    border-bottom: 2px solid #DD4B39;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.12);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.12);
    z-index: 10000;
}

.main-header .navbar {
    background-color: #FFF !important;
}

.main-header .logo {
    background-color: #FFF !important;
}

.main-footer {
    margin-top: 10px;
    margin-bootom: 10px;
    background: transparent;
    border-top: 0;
    color: #4C4C4C;
    margin-left: 0px !important;
    opacity: 1;
}

.sidebar-collapse .main-footer {
    opacity: 0;
}

.skin-red .sidebar-menu > li.active > a {
    border-left-color: #4444;
    border-left: 2px solid #4444;
}

.sidebar {
    min-height: calc(100vh - 170px);
    padding-bottom: 10px;
}

.sidebar-toggle {
    color: #444 !important;
}

.sidebar-toggle:hover {
    background-color: #F4F4F5 !important;
    color: black !important;
}

.main-sidebar {
    padding-top: 0;
    -webkit-box-shadow: 2px 0px 2px 0px rgba(0,0,0,0.0.12);
    -moz-box-shadow: 2px 0px 2px 0px rgba(0,0,0,0.12);
    box-shadow: 2px 0px 2px 0px rgba(0,0,0,0.12);
    overflow-y: scroll;
    min-height: 0px !important;
    height: calc(100vh - 50px) !important;
    z-index: 999;
}

@media (max-width:767px) {
    .main-sidebar {
        top: 50px;
    }
}

.sidebar-mini.skin-red.sidebar-collapse.pace-done.pace-done .main-sidebar {
    overflow: unset;
    z-index: 10000;
}

.main-sidebar::-webkit-scrollbar {
  width: 0;
}

.main-sidebar::-webkit-scrollbar-track {
  background: #3C3C3C;
}

.main-sidebar::-webkit-scrollbar-thumb {
  background: #3C3C3C;
}

.main-sidebar::-webkit-scrollbar-thumb:hover {
  background: #3C3C3C;
}

.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu>li.header {
    white-space: normal;
}

.treeview span {
    height: 50px;
}

.treeview span.pull-right-container {
    height: auto;
}

ul.sidebar-menu.tree li.active i {
    margin-left: 1px;
}

.sidebar-collapse .sidebar-menu>li {
    height: 50px;
}

.treeview-menu {
    -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.12);
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.12);
}

.skin-red .wrapper, .skin-red .main-sidebar, .skin-red .left-side {
    background-color: #3C3C3C;
}

.skin-red .sidebar-menu > li > a {
    color: #B0B0B0;
    background: #3C3C3C;
}

.skin-red .sidebar-menu > li.menu-open > a {
    color: #FFF;
    background: #3C3C3C;
}

.skin-red .sidebar-menu > li:hover > a {
    color: #FFF;
    background: #4C4C4C;
}

.skin-red .sidebar-menu > li.active > a {
    color: #FFF;
    background: #353535;
}

.treeview-menu {
    background: #333 !important;
}

.treeview-menu > li > a {
    color: #B0B0B0 !important;
}

.treeview-menu > li > a:hover {
    color: #FFF !important;
}

.treeview-menu > li.active > a {
    color: #FFF !important;
}

@media (min-width: 768px) {
    .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right),
    .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
        width: var(--sidebar-hover-menu-size);
    }

    .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > .pull-right-container {
        left: var(--sidebar-hover-menu-size);
    }
    .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > .pull-right-container {
        left: var(--sidebar-hover-menu-size) !important;
    }
}

/* -------------------------- */
/*                            */
/* Custom Scrollbar           */
/*                            */
/* -------------------------- */

.row ::-webkit-scrollbar {
  width: 6px;
  height: 15px;
}

.row ::-webkit-scrollbar-track {
  background: #F5F3F3;
}

.row ::-webkit-scrollbar-thumb {
  background: #CECECE;
}

.row ::-webkit-scrollbar-thumb:hover {
  background: #A8A8A8;
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-track {
  background: #E5E5E5B0;
}

::-webkit-scrollbar-thumb {
  background: #B6B9BD;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--facing-problems-color);
}

.subtitle {
    font-size: 23px;
    font-weight: 400;
}

.subtitle-on-form-group {
    font-size: 23px;
    font-weight: 400;
    margin-left: 15px;
}

/* -------------------------- */
/*                            */
/* Iframe Custom Style        */
/*                            */
/* -------------------------- */

#iframe-loading {
    font-size: 60px;
    left: 50%;
    top: calc(50% - 30px);
    position: absolute;
    z-index: 9999;
}

.inner_page {
    height: -webkit-fill-available;
    height: -moz-fill-available;
    height: -ms-fill-available;
    height: -o-fill-available;
    height: fill-available;

    width: -webkit-fill-available;
    width: -moz-fill-available;
    width: -ms-fill-available;
    width: -o-fill-available;
    width: fill-available;

    border: 0;
}

/* ---------------------------*/
/*                            */
/* Date Custom Style          */
/*                            */
/* -------------------------- */

.date-range.form-control {
    padding-left: 6px;
}

.date-time-range.form-control {
    padding-left: 6px;
}

/* -------------------------- */
/*                            */
/* Select2 Custom Style       */
/*                            */
/* -------------------------- */

.select2 .select2-selection {
    border: 1px solid #D2D6DE !important;
    border-radius: 0px !important;
    padding-right: 20px;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
    position: absolute;
    right: 0;
    margin-right: 6px;
}

.select2-container .select2-selection--multiple {
    min-height: 35px !important;
}

.select2 {
  width: 100%!important;
}

.select2-container {
    min-width: 10em !important;
}

.select2-selection--single {
    height: 35px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  color: #444;
}

.select2-container--default .select2-results > .select2-results__options {
    overflow-x:hidden
}

.select2-selection.select2-selection--single.modelselect2.form-control {
    padding-left: 0;
}

.select2-selection.select2-selection--multiple.modelselect2multiple.form-control, .select2-selection.select2-selection--multiple.select2multiple.form-control {
    padding: 0;
    height: auto;
}

select[multiple], select[size] {
    height: auto !important;
}

/* -------------------------- */
/*                            */
/* Checkbox Custom Style       */
/*                            */
/* -------------------------- */

.checkbox-button-group-box {
    margin-left: 5px;
    margin-top: -7px;
}

.checkbox-button-box {
    float: left;
    margin-top: 5px;
    padding-right: 8px;
}

.checkbox-button-box label {
    font-weight: 500;
}

.switch {
    display: inline-block;
    height: 22px;
    position: relative;
    width: 50px;
}

.switch input {
    display: none;
}

.slider {
    background-color: #E2E2E2;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 2px;
    content: "";
    height: 19px;
    left: 2px;
    position: absolute;
    transition: .4s;
    width: 19px;
}

input:checked + .slider {
    background-color: var(--success-color);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* -------------------------- */
/*                            */
/* Button Custom Style        */
/*                            */
/* -------------------------- */

.btn {
    border-radius: 0px;
}

.btn-group-vertical > .btn, .btn-group > .btn {
    float: none;
}

/* -------------------------- */
/*                            */
/* Modal Custom Style         */
/*                            */
/* -------------------------- */

.modal {
    background: rgba(0,0,0,0);
    top: 50px;
}

.modal-header {
    color: #FFF;
    background: #3c3c3c;
    border-bottom: 1px solid #3c3c3ca6;
}

.modal-header .close {
   opacity: 0.6;
   color: #FFF;
   text-shadow: none;
}

.modal-header .close:hover {
   opacity: 1;
   color: #FFF;
   text-shadow: none;
}

.modal-header .modal-title {
    font-weight: 600;
}

.modal-header button {
    padding: 6px 4px 0 0;
    font-size: x-large;
}

.modal.danger .modal-title {
    font-size: 23px;
}

.modal.danger .modal-title i {
    font-size: 20px;
    margin-right: 10px;
    margin-left: 3px;
}

.modal.danger .btn.btn-default {
    width: 15%;
}

.modal.danger .btn.btn-outline-danger {
    width: 15%;
    margin-left: 10px;
}

.modal-body {
    padding: 15px;
}

.modal-body p {
    margin: 0;
}

.modal-body .form-group {
    margin-left: 0;
    margin-right: 0;
}

.modal-backdrop.in {
    opacity: 0.2;
}

.modal-dialog {
    width: 600px;
}

.modal-footer button, .modal-footer a {
    min-width: 100px;
}

.modal-header h4 i {
    margin-right: 5px;
    padding-top: 5px;
}

/* -------------------------- */
/*                            */
/* DataTable Custom Style     */
/*                            */
/* -------------------------- */

#search_table_paginate {
    margin-top: 10px;
}

div.dataTables_wrapper div.dataTables_processing {
    z-index: 999;
}

div.dataTables_wrapper div.dataTables_info  {
    padding-top: 4px;
}

.select-info {
    margin-left: 20px;
}

#search_table_filter {
    text-align: left;
}

.table_header {
    float: left;
    margin-left: 20px;
    min-width: 200px;
    text-align: left;
}

@media (max-width: 767px) {
    .table_header {
        margin-top: -40px;
    }
}

.dataTables_paginate.paging_simple_numbers {
    margin-top: 10px !important;
}

.table_header .dt-buttons {
    margin-left: -22px;
}

@media (max-width: 767px) {
    .table_header .dt-buttons {
        margin-top: 40px;
    }
}

#search_table_length {
    margin-top: 0px;
}

@media (max-width: 767px) {
    #search_table_length {
        margin-top: 40px;
        margin-left: -85px;
    }
}

#search_table_info {
    margin-top: 0px;
    margin-left: -18px;
}

@media (max-width: 767px) {
    #search_table_info {
        margin-top: 32px;
        margin-left: -30px;
    }
}

table.dataTable tbody > tr.selected, table.dataTable tbody > tr > .selected {
    background-color: #FDFBD799;
    color: #444;
}

#search_table_wrapper .box-header {
    padding: 5px;
}

.search_no_results {
    width: 100%;
    text-align: center;
    font-size: 30px;
    padding: 50px;
    color: #949494;
    display: none;
}

.dataTables_processing {
    height: 100%;
    width: 100% !important;
    padding-top: 0 !important;
    top: 0px !important;
    bottom: 0px;
    margin-left: 0 !important;
    margin-top: inherit !important;
    margin-right: inherit;
    margin-bottom: inherit;
    left: 0 !important;
    font-size: 60px;
    background: rgba(255, 255, 255, 0.75);
}

/*********************************/
       /* Layout Fix */

.report-back-btn-top {
    float: right;
    margin-top: -43px;
}

.report-back-btn-top i {
    margin-right: 2px;
}

.report-back-btn-bottom {
    float: right;
    margin-top: -8px;
}

.report-back-btn-bottom i {
    margin-right: 2px;
}

/* -------------------------- */
/*                            */
/* Back to TOP Custom Style   */
/*                            */
/* -------------------------- */

#back_to_top {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 100px;
    right: 40px;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    color: #444;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.06), 0 2px 5px 0 rgba(0,0,0,.2);
    transition: width 0.3s, height 0.3s, bottom 0.3s, right 0.3s;
}

@media (max-width: 767px) {
    #back_to_top {
        bottom: 60px;
    }
}

#back_to_top > i {
    color: #444;
    padding-top: 6px;
    font-size: 15px;
    transition: padding-top 0.3s, font-size 0.3s;
}

#back_to_top:hover {
    width: 50px;
    height: 50px;
    bottom: 90px;
    right: 30px;
    cursor: pointer;
    background-color: var(--facing-problems-color);
}

#back_to_top:hover i {
    color: #FFF;
    padding-top: 10px;
    font-size: 25px;
}

#back_to_top:active {
    background-color: #555;
}

#back_to_top.show {
    opacity: 1;
    visibility: visible;
}


/* -------------------------- */
/*                            */
/* Snippets Custom Style      */
/*                            */
/* -------------------------- */

.date_tag_box {
    color: #444;
    -webkit-box-shadow: none;
    box-shadow: none;
    white-space: nowrap;
}

.date_tag_box:hover {
    color: #444;
    cursor: default;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-box-shadow: none;
}

.workscope-status {
    border-radius: 3px;
    padding-left: 36px;
    font-size: 9pt;
    font-weight: 600;
}

.workscope-status > img {
    max-height: 100%;
    width: auto;
}

.workscope-status.btn-social > :first-child {
    width: auto;
    font-size: 0pt;
}

.workscope-status.img-flat {
    margin-top: 0.5px;
}

.workscope-status.img-circle {
    border: 0;
    padding: 3px;
    border-right: 0px !important;
}

.workscope-status.btn-default, .workscope-status.btn-outline-dark-no-hover {
    padding-left: 15px !important;
}

.workscope-id {
    border-radius: 3px !important;
}

.img-logo {
    margin-left: 15px !important;
}

/* ------------------------------------- */
/*                                       */
/* Tree Checklist View Custom Style      */
/*                                       */
/* ------------------------------------- */

.container {
    position: relative;
    padding-left: 35px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #444;
    transition-property: background;
    transition-duration: 0.4s;
    transition-delay: 0s;
}

.container:hover {
    background: #F1F1F1;
    color: black;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    transition-property: background-color;
    transition-duration: 2s;
    transition-delay: 0s;
}

.checkbox-description {
    font-size: 16px;
    color: #8E8E8E;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
        height: 30px;
    width: 30px;
    background-color: #EEE;
    transition-property: background;
    transition-duration: 0.3s;
    transition-delay: 0s;
}

.container:hover input ~ .checkmark {
    background-color: #CCC;
}

    .container input:checked ~ .checkmark {
    background-color: #545050;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 11px;
    top: 7px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* ------------------------------------- */
/*                                       */
/* Tooltip Style                         */
/*                                       */
/* ------------------------------------- */

.has-tooltip {
  position: relative;
  display: inline-block;
}

.has-tooltip .tooltip-text {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica,Arial, sans-serif;
  visibility: hidden;
  background-color: #545252;
  color: #E4E4E4;
  text-align: center;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 3px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -75px;
  width: 150px;
  white-space: pre-wrap;
}

.has-tooltip .tooltip-text::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #545252 transparent transparent transparent;
}

.has-tooltip:hover .tooltip-text {
  visibility: visible;
}

.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #DD4B39 !important;
}

/* -------------------------- */
/*                            */
/* Custom Disabled element    */
/*                            */
/* -------------------------- */

.processing {
    opacity: 0.65;
    cursor: not-allowed;
}

.pace {
    height: 1.5px;
    position: fixed;
    z-index: 99 !important;
    background: #eea59c;
    width: 100%;
    top: 51px !important;
}

.pace .pace-progress {
    background: #DD4B39 !important;
    top: 51px !important;
}

.sidebar-collapse .main-footer {
    display: none !important;
}

.pagination {
    margin: 0 0 7px 0;
    float: right;
}

#table-template .col-sm-12 {
    padding: 0;
}

#table-template td {
    padding: 17px 8px 13px 8px !important;
}

.table-container {
    margin-top: -5px;
}

#table-template ::-webkit-scrollbar {
    width: 15px;
}

#table-template .table {
    overflow: hidden;
}

#table-template th, #table-template td {
    white-space: nowrap;
}

.dataTables_scroll th, .dataTables_scroll td, .table th, .table td {
    white-space: nowrap;
}

.example {
 width: 100px;
}

@media (max-width: 767px) {
    .example {
        width: 1000px;
    }
}

.content-header {
    padding: 0;
    padding-bottom: 15px;
}