{% load static %}
{% load dashboard_tag %}
{% load menu %}
{% load i18n %}
{% generate_menu %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>
        {% if PageTitle %}
            {% block title %}{{ PageTitle }}{% endblock title %} | {{ SystemShortName }}
        {% else %}
            {{ SystemShortName }}
        {% endif %}
    </title>
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'node_modules/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap-daterangepicker/daterangepicker.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/pace/pace.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/iCheck/all.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/skins/skin-red.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/summernote/summernote.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/help_info.css' %}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    {% block extraHead %}{% endblock %}
</head>
<body class="sidebar-mini skin-red pace-done pace-done sidebar-collapse" cz-shortcut-listen="true">
<div class="wrapper">
    {% with request.user.user_type as user_type %}
        {% with request.resolver_match.url_name as url_name %}
            <header class="main-header">
                <a href="/" class="logo">
                        <span class="logo-mini">
                            <img src="{% static 'img/mini-logo.png' %} " width="50" alt="{{ SystemLongName }}"
                                 title="{{ SystemLongName }}"/>
                        </span>
                    <span class="logo-lg">
                            <img src="{% static 'img/logo.png' %}" width="150" alt="{{ SystemLongName }}"
                                 title="{{ SystemLongName }}"/>
                        </span>
                </a>
                <nav class="navbar navbar-static-top" role="navigation">
                    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                            <span class="sr-only">
                                Toggle navigation
                            </span>
                    </a>
                    <div class="pull-left navbar-default hidden-sm hidden-xs visible-md visible-lg"
                         id="navbar-collapse">
                        <ul class="nav navbar-nav" style="z-index: 9999">
                            {% for item in menus.main %}
                                {% if item.list %}
                                    <li {% if item.area == selected_menu.area %} class="active" {% endif %}>
                                        <a href="{{ item.url }}">{{ item.title }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <li class="dropdown hidden-md hidden-lg">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Menu
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    {% for item in menus.main %}
                                        {% if item.list %}
                                            <li {% if item.area == selected_menu.area %} class="active" {% endif %}>
                                                <a href="{{ item.url }}">{{ item.title }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                            {% if DEPLOY_ENV == 'staging' %}
                                <li>
                                    <a class="bg-orange-active" style="color: white !important;">
                                        <i class="fa fa-code"></i> STAGING
                                        <span class="text-sm">{{ STAGING_CODE_VERSION }} | db: {{ STAGING_DATABASE_VERSION }}</span>
                                    </a>
                                </li>
                            {% elif DEPLOY_ENV == 'dev' %}
                                <li>
                                    <a class="bg-green-active" style="color: white !important;">
                                        <i class="fa fa-code"></i> DEVELOPMENT
                                    </a>
                                </li>
                            {% endif %}

                            <li class="dropdown messages-menu" id="notification">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-refresh fa-spin" v-show="is_loading" v-cloak></i>
                                    <i v-if="!notifications.connection_error" class="fa fa-bell-o" v-cloak></i>
                                    <i v-if="notifications.connection_error" class="fa fa-bell-slash-o text-red"
                                       v-cloak></i>
                                    <span class="label bg-red" v-if="notifications.unread_count" v-cloak>
                                            [[ notifications.unread_count ]]
                                        </span>
                                </a>
                                <ul class="dropdown-menu notification-dropdown">
                                    <li class="header text-red" v-show="notifications.connection_error">
                                        It's not possible to fetch notifications.<br/>Check your connection.
                                    </li>
                                    <li class="header"
                                        v-if="notifications.unread_count && !notifications.connection_error">
                                        You have [[ notifications.unread_count ]] unread notifications.
                                        <a href="#" v-on:click="mark_all_as_read()" class="text-navy small">
                                            <i class="fa fa-check-square-o"></i>
                                            Mark all as read
                                        </a>
                                    </li>
                                    <li class="header"
                                        v-if="!notifications.unread_count && !notifications.connection_error">
                                        You don't have unread notifications.
                                    </li>
                                    <li v-if="!notifications.connection_error">
                                        <ul class="menu notify_list">
                                            <li v-for="notification in notifications.unread_list">
                                                <a :href="[[ notification.url ]]">
                                                    <div class="pull-left">
                                                        <img :src="[[ notification.actor_avatar ]]" class="img-circle"
                                                             :title="[[ notification.actor ]]">
                                                    </div>
                                                    <h4>
                                                        [[ notification.verb ]]
                                                        <small>
                                                            <i class="fa fa-clock-o"></i>
                                                            [[ notification.timestamp ]] ago
                                                        </small>
                                                    </h4>
                                                    <p class="notification-text">
                                                        [[ notification.description ]]
                                                    </p>
                                                    <div class="pull-right">
                                                        <div class="notify-tools">
                                                            <a href="#" v-on:click="mark_as_read(notification)"
                                                               class="text-green small">
                                                                <i class="fa fa-check-square-o"></i>
                                                                Mark as read
                                                            </a>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <br/>
                                        </ul>
                                    </li>
                                    <li class="footer" v-if="!notifications.connection_error">
                                        <a href="#">See all notifications</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown user user-menu">
                                <!-- Menu Toggle Button -->
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <!-- The user image in the navbar-->
                                    <img src="{{ request.user.get_avatar_url }}" class="user-image">
                                    <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                    <span class="hidden-xs">{{ request.user.get_short_name }}</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- The user image in the menu -->
                                    <li class="user-header">
                                        <img id="img_avatar" src="{{ request.user.get_avatar_url }}" class="img-circle">
                                        <p>
                                            {{ request.user.get_full_name }}
                                            <small>{% trans "Cadastro realizado em" %} {{ request.user.creation_date|date:"M Y" }}</small>
                                            <small><a href="{% url 'profile-avatar-update' %}"><i
                                                    class="fa bg-white fa-edit"></i>{% trans "Alterar Avatar" %}</a></small>
                                        </p>
                                    </li>

                                    <!-- Menu Footer-->
                                    <li class="user-footer bg-gray">
                                        <div class="pull-left">
                                            <a href="{% url 'profile-user-change' %}" class="btn bg-black btn-flat">Perfil</a>
                                        </div>
                                        <div class="pull-right">
                                            <a href="{% url 'profile-password-change' %}" class="btn bg-black btn-flat">Alterar
                                                senha</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            {% if request.user.is_superuser %}
                                <li>
                                    <a href="/admin" title="Admin Area">
                                        <i class="fa fa-gears"></i>
                                    </a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="{% url 'logout' %}" title="Sign out">
                                    <i class="fa fa-sign-out"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>

            <aside class="main-sidebar">
                <section class="sidebar">
                    <ul class="sidebar-menu" data-widget="tree">
                        {% for item in menus.sidebar %}
                            {% if item.area == selected_menu.area and item.list %}
                                {% if item.children %}
                                    <li class="treeview {% if item.selected %}menu-open{% endif %}">
                                        {% if item.iframe %}
                                            <a href="#"
                                               onclick="javascript:show_content_on_iframe('{{ item.slug }}', '{{ item.url }}')">
                                                <i class="fa {{ item.icon }}"></i>
                                                <span>{{ item.title }}1</span>
                                                <span class="pull-right-container">
                                                        <i class="fa fa-angle-left pull-right"></i>
                                                    </span>
                                            </a>
                                        {% else %}
                                            <a href="">
                                                <i class="fa {{ item.icon }}"></i>
                                                <span>{{ item.title }}</span>
                                                <span class="pull-right-container">
                                                        <i class="fa fa-angle-left pull-right"></i>
                                                    </span>
                                            </a>
                                        {% endif %}
                                        <ul class="treeview-menu"
                                            {% if item.selected %}style="display: block;" {% endif %}>
                                            {% for child in item.children %}
                                                {% if child.list %}
                                                    <li {% if child.selected %}class="active" {% endif %}>
                                                        {% if child.iframe %}
                                                            <a href="#"
                                                               onclick="javascript:show_content_on_iframe('{{ item.slug }}', '{{ item.url }}')">
                                                                <i class="fa fa-circle-o"></i>
                                                                {{ child.title }}
                                                            </a>
                                                        {% else %}
                                                            <a href="{{ child.url }}">
                                                                <i class="fa fa-circle-o"></i>
                                                                {{ child.title }}
                                                            </a>
                                                        {% endif %}
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% else %}
                                    {% if item.iframe %}
                                        <li id="{{ item.slug }}">
                                            <a href="#"
                                               onclick="javascript:show_content_on_iframe('{{ item.slug }}', '{{ item.url }}')">
                                                <i class="fa {{ item.icon }}"></i>
                                                <span>{{ item.title }}</span>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li {% if item.selected %}class="active" {% endif %}>
                                            <a href="{{ item.url }}">
                                                <i class="fa {{ item.icon }}"></i>
                                                <span>{{ item.title }}</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </section>
                <footer class="main-footer">
                    <strong>{{ SystemLongName }}</strong> - {{ SYSTEM_VERSION }} &copy; {% now "Y" %}
                </footer>
            </aside>

        {% endwith %}
    {% endwith %}

    <div class="content-wrapper" style="background-color: #ECF0F5;">

        {% block extraModals %}
            {% include 'dashboard/help_info/help_modals.html' %}
        {% endblock extraModals %}

        <div id="panel-section">
            <section class="content">

                {% if Header %}
                    {% block content_header %}
                        <section class="content-header">
                            <h1>
                                {% block content_title %}{{ Header }}
                                    {% include 'dashboard/help_info/help_info_icon.html' %}{% endblock content_title %}
                                <div class="pull-right">
                                    {% block content_title_action %}{% endblock content_title_action %}
                                </div>
                            </h1>
                        </section>
                    {% endblock content_header %}
                {% endif %}

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                ×
                            </button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% block content_main_row %}
                    <div class="row">
                        <div class="col-xs-12">
                            {% block content_main %}{% endblock content_main %}
                        </div>
                    </div>
                {% endblock content_main_row %}
            </section>

            <div id="iframe-section">
                <div class="overlay" id="iframe-loading" style="display: none">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>

            <a id="back_to_top" title="Back to top">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>
    </div>
</div>

<script src="{% static 'dist/js/adminlte-custom.js' %}"></script>
<script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.js' %}"></script>
<script src="{% static 'node_modules/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'node_modules/fastclick/lib/fastclick.js' %}"></script>
<script src="{% static 'node_modules/inputmask/dist/min/jquery.inputmask.bundle.min.js' %}"></script>
<script src="{% static 'node_modules/moment/min/moment.min.js' %}"></script>
<script src="{% static 'node_modules/moment-duration-format/lib/moment-duration-format.js' %}"></script>
<script src="{% static 'node_modules/select2/dist/js/select2.full.min.js' %}"></script>
<script src="{% static 'node_modules/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'node_modules/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
{% if debug %}
    <script src="{% static 'node_modules/vue/dist/vue.js' %}"></script>
{% else %}
    <script src="{% static 'node_modules/vue/dist/vue.min.js' %}"></script>
{% endif %}
<script src="{% static 'node_modules/axios/dist/axios.min.js' %}"></script>
<script src="{% static 'plugins/pace/pace.min.js' %}"></script>
<script src="{% static 'plugins/iCheck/icheck.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-notify-3.1.3/dist/bootstrap-notify.min.js' %}"></script>
<script src="{% static 'dashboard/vue_libs/notification.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js' %}"></script>
<script src="{% static 'dashboard/js/disable_element_when_processing.js' %}"></script>
<script src="{% static 'dashboard/js/help_modal.js' %}"></script>
<script src="{% static 'dashboard/js/vanilla_javascript_utils.js' %}"></script>
<script src="{% static 'node_modules/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'node_modules/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'node_modules/datatables.net-select/js/dataTables.select.min.js' %}"></script>
<script src="{% static 'node_modules/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'node_modules/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'node_modules/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'node_modules/pdfmake/build/pdfmake.min.js' %}"></script>
<script src="{% static 'node_modules/pdfmake/build/vfs_fonts.js' %}"></script>
<script src="{% static 'node_modules/jszip/dist/jszip.min.js' %}"></script>
<script src="{% static 'plugins/summernote/summernote.min.js' %}"></script>
<script> document.addEventListener("DOMContentLoaded", () => {
    csrfToken = '{{ csrf_token }}';
}); </script>
{% block extraJS %}{% endblock extraJS %}

</body>
</html>
