{% load static %}
{% load dashboard_tag %}
{% load menu %}
{% generate_menu %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

        <title>
            {% if PageTitle %}
                {% block title %}{{ PageTitle }}{% endblock title %} | {{ SystemShortName }}
            {% else %}
                {{ SystemShortName }}
            {% endif %}
        </title>

        <link rel="icon" href="{% static 'img/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'node_modules/font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'node_modules/select2/dist/css/select2.min.css' %}">
        <link rel="stylesheet" href="{% static 'node_modules/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}">
        <link rel="stylesheet" href="{% static 'node_modules/bootstrap-daterangepicker/daterangepicker.css' %}">
        <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.min.css' %}">
        <link rel="stylesheet" href="{% static 'plugins/pace/pace.css' %}">
        <link rel="stylesheet" href="{% static 'plugins/iCheck/all.css' %}">
        <link rel="stylesheet" href="{% static 'dist/css/skins/skin-red.min.css' %}">
        <link rel="stylesheet" href="{% static 'node_modules/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/animate.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        <link rel="stylesheet" href="{% static 'plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css' %}">
        <link rel="stylesheet" href="{% static 'plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

        <script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

        {% block extraHead %}{% endblock %}

        <style>
            .fixed .content-wrapper {
                padding-top: 0 !important;
            }

            .sidebar-mini.sidebar-collapse .content-wrapper, .sidebar-mini.sidebar-collapse .right-side, .sidebar-mini.sidebar-collapse .main-footer {
                margin-left: 0px !important;
            }

            .small-box {
                margin-bottom: 10px !important;
            }

            .box-header {
                padding: 5px !important;
            }

            html, body {
                height: 100% !important;
            }

            .content-wrapper {
                background: #ECF0F5;
            }
        </style>
    </head>

    <body class="sidebar-mini sidebar-collapse fixed skin-black-light hold-transition" id="sidebar_id">
        <div class="content-wrapper">
            {% if Header %}
                {% block content_header %}
                    <section class="content-header">
                        <h1>
                            {% block content_title %}{{ Header }} {% include 'dashboard/help_info/help_info_icon.html' %}{% endblock content_title %}
                            <div class="pull-right">
                                {% block content_title_action %}{% endblock content_title_action %}
                            </div>
                        </h1>
                    </section>
                {% endblock content_header %}
            {% endif %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                            ×
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% block content_main %}{% endblock content_main %}
        </div>
    </div>

    <script src="{% static 'dist/js/adminlte-custom.js' %}"></script>
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'node_modules/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'node_modules/jquery-ui-dist/jquery-ui.js' %}"></script>
    <script src="{% static 'node_modules/fastclick/lib/fastclick.js' %}"></script>
    <script src="{% static 'node_modules/inputmask/dist/min/jquery.inputmask.bundle.min.js' %}"></script>
    <script src="{% static 'node_modules/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'node_modules/moment-duration-format/lib/moment-duration-format.js' %}"></script>
    <script src="{% static 'node_modules/select2/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'node_modules/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'node_modules/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
    {% if debug %}
        <script src="{% static 'node_modules/vue/dist/vue.js' %}"></script>
    {% else %}
        <script src="{% static 'node_modules/vue/dist/vue.min.js' %}"></script>
    {% endif %}
    <script src="{% static 'node_modules/axios/dist/axios.min.js' %}"></script>
    <script src="{% static 'plugins/iCheck/icheck.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-notify-3.1.3/dist/bootstrap-notify.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js' %}"></script>

    {% block extraJS %}{% endblock extraJS %}

    </body>
</html>