{% extends "dashboard/base_no_menu.html" %}
{% load dashboard_tag %}
{% load staticfiles %}

{% block extraHead %}
    <script src="https://cdn.jsdelivr.net/npm/echarts@4.6.0/dist/echarts.common.js" integrity="sha256-nQ/vfzLuLKdb4dyAoOwS6XaGKDypXcojJ8hy5BuPoWU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@4.6.0/dist/echarts.common.min.js" integrity="sha256-12Wvd03ukSfMd6sAik/UKyH/Q7KYzM18yFfizIsMOjA=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@4.6.0/dist/echarts.js" integrity="sha256-7EiwL8B98LLHL+HK590Nc9KF77prJ4aboPd/3fKiQ88=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@4.6.0/dist/echarts.min.js" integrity="sha256-9TvhGliyfFW2O8SvloAhdFQbfjluHQ+vQ7WWWX5Z7oM=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@4.6.0/dist/echarts.simple.js" integrity="sha256-dCy8q+GwynzjWRpKRYX9wGvUlyZKBka4v8znS0wCTqY=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@4.6.0/dist/echarts.simple.min.js" integrity="sha256-+hd5p1XvmiontyXydzMYjTGrmhSN20P3+y6FBc4cmAI=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@4.6.0/dist/echarts-en.common.js" integrity="sha256-9IaxZmmofWpyNvfXQejbKNUxC2o9JlUJ5nfmCsgSQ9U=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@4.6.0/dist/echarts-en.common.min.js" integrity="sha256-8KYeTYwaeovX5RDvco2/p+GPhvI3AJ/B4/tDPd9vQig=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@4.6.0/dist/echarts-en.js" integrity="sha256-+23jGAFIBOmgtr//GhNvuVXHMzyjU6kpO5WrAzqaqCg=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@4.6.0/dist/echarts-en.min.js" integrity="sha256-B4Lh21D9cWGFoivSGl1ppWmSi3W//LLr9Y4fMuYQEmw=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@4.6.0/dist/echarts-en.simple.js" integrity="sha256-zDUz4vT9zgYfLFvoR4I8TRYd4zmA6k9X3xAv2Nu8MUU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@4.6.0/dist/echarts-en.simple.min.js" integrity="sha256-Q68E75g145T2BasaHHeo4swijnOooRL4ooWc7IG1d6I=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
{% endblock %}

{% block content_main %}
{% endblock %}