% extends "dashboard/list_graph.html" %}

{% block content_main %}
    <div class="row">
        <div class="col-md-6 pad">{{ charts.graph1|safe }}</div>
        <div class="col-md-6 pad">{{ charts.graph2|safe }}</div>
    </div>
{% endblock %}
