{% extends "dashboard/base.html" %}
{% load staticfiles %}

{% block extraHead %}
    <link rel="stylesheet" href="{% static 'dashboard/css/index_widget.css' %}">
{% endblock %}

{% block extraJS %}
    <script src="{% static 'dashboard/js/help_modal.js' %}"></script>
{% endblock %}

{% block extraModals %}
    {% include 'dashboard/help_info/index_page_help_modals.html' %}
{% endblock extraModals %}

{% if Header %}
    {% block content_header %}
        <div class="row" style="width: 100%">
            <div class="col-sm-12">
                <div class="col-sm-12">
                    <section class="content-header">
                        <h1>
                            {% block content_title %}{% endblock content_title %}
                            <div class="pull-right">
                                {% block content_title_action %}{% endblock content_title_action %}
                            </div>
                        </h1>
                    </section>
                </div>
            </div>
        </div>
    {% endblock content_header %}
{% endif %}

{% block content_main %}
    <div class="row">
        <div class="col-sm-12">
            {% for column in menu_items %}
                <div id="left_items" class="col-md-{{ column.col_size }}">
                    {% for item in column.items %}
                        <div class="index-widget box">
                            <div class="box-widget widget-user-2">
                                <div class="widget-user-header">
                                    <h3 class="widget-user-username">
                                        {{ item.title }}
                                        {% if item.help_template %}
                                            <small class="pull-right">
                                                <i id="{{ item.slug }}" class="fa fa-info-circle item-data info"></i>
                                            </small>
                                        {% endif %}
                                    </h3>
                                    {% if item.subtitle %}
                                        <h5 class="widget-user-desc">{{ item.subtitle }}</h5>
                                    {% endif %}
                                </div>
                                <div class="widget-user-image">
                                    <span class="info-box-icon">
                                        <i class="fa {{ item.icon|default_if_none:'fa-circle-o' }}" style="color: #FFF"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="box-footer no-padding">
                                <ul class="nav nav-stacked">
                                    {% if item.children %}
                                        {% for child in item.children %}
                                            {% if child.list %}
                                                <li>
                                                    <a href="{{ child.url }}">
                                                        <i class="fa {{ child.icon|default_if_none:'fa-circle-o' }} item-icon"></i>
                                                         {{ child.title }}
                                                        {% if child.help_template %}
                                                            <i id="{{ child.slug }}" class="item-data info pull-right fa fa-info"></i>
                                                        {% endif %}
                                                        {% if child.new %}
                                                            <i class="item-data new pull-right fa fa-star-o"></i>
                                                        {% endif %}
                                                    </a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
