{% load dashboard_tag %}
{% load export_url from django_tables2 %}

<div class="pull-left">

    {% if AddButton and request.user|has_resource_permission:CreateResource %}
        <a href="{{ AddButton.Url }}{% if request.META.QUERY_STRING %}?{{ request.META.QUERY_STRING }}{% endif %}" class="btn bg-green">
            <i class="fa fa-plus-circle"></i>
             {{ AddButton.Title }}
        </a>
    {% endif %}

    {% if ExportButton and request.user|has_resource_permission:ExportResource %}
        <a href="{% export_url "xls" %}" class="btn btn-default">
            <i class="fa fa-file-excel-o"></i>
                Export to XLS
        </a>
    {% endif %}

    {% if TemplateButtons and request.user|has_resource_permission:TemplateResource %}
        <button data-toggle="modal" data-target="#exportTemplateModal" class="btn btn-default">
            <i class="fa fa-download"></i>
             Export as XLS template
        </button>
        <button data-toggle="modal" data-target="#importModal" class="btn btn-default">
            <i class="fa fa-upload"></i>
             Update from XLS template
        </button>
    {% endif %}

    {% for action, action_items in Actions.items %}
        {% if not action_items.use_filter_as_qs %}
            <form action="" method="post" class="action-form">
                {% csrf_token %}
                <input type="hidden" name="action" value="{{ action }}">
                <input type="hidden" name="ids" value="">
                <input type="button" class="btn {{ action_items.btn_class|default:'btn-default' }}"
                       value="{{ action_items.text }}" onclick="submit_action(this.form)">
            </form>
        {% endif %}
    {% endfor %}
</div>

