{% extends "dashboard/base.html" %}
{% load dashboard_tag %}
{% load staticfiles %}

{% block extraHead %}
    <script src="{% static 'js/plotly-latest.min.js' %}"></script>
{% endblock %}

{% block content_main %}
    <div class="row">
        <div class="col-md-6">{{ charts.graph_1|safe }}</div>
    </div>
{% endblock %}
