{% load crispy_forms_tags %}
{% load crispy_forms_utils %}
{% load crispy_forms_field %}
{% load static %}
{% specialspaceless %}
    {% if formset_tag %}
        <form {{ flat_attrs|safe }} method="{{ form_method }}" {% if formset.is_multipart %}
                                    enctype="multipart/form-data"{% endif %}>
    {% endif %}
{% if formset_method|lower == 'post' and not disable_csrf %}
    {% csrf_token %}
{% endif %}

<div>
    {{ formset.management_form|crispy }}
</div>
{% if include_media %} {{ formset.media }}{% endif %}
<div class="table-container table-responsive">
    <table{% if form_id %} id="{{ form_id }}_table"{% endif %} class="table table-striped table-condensed">
        <thead>
        {% if formset.readonly and not formset.queryset.exists %}
        {% else %}
            <tr>
                {% if inline.3.sortable %}
                    <th>Order</th>
                {% endif %}
                {% for field in formset.forms.0 %}
                    {% if field.label and not field.is_hidden %}
                        <th for="{{ field.auto_id }}"
                            class="control-label {% if field.field.required %}requiredField{% endif %}">
                            {{ field.label|safe }}{% if field.field.required and not field|is_checkbox %}
                                <span class="asteriskField">*</span>{% endif %}
                        </th>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endif %}
        </thead>

        <tbody id="tbody-{{ formset.prefix }}" {% if inline.3.sortable %}class="sortable"{% endif %}>
        <tr class="hidden empty-form" id="empty-form-{{ formset.prefix }}">

            {% if inline.3.sortable %}
                <td class="text-center"><i class="fa fa-arrows-v"></i></td>
            {% endif %}
            {% for field in formset.empty_form %}
                {% include 'bootstrap3/field.html' with tag="td" form_show_labels=False %}
            {% endfor %}
        </tr>

        {% for form in formset %}
            {% if form_show_errors and not form.is_extra %}
                {% include "bootstrap3/errors.html" %}
            {% endif %}

            <tr>
                {% if inline.3.sortable %}
                    <td class="text-center"><i class="fa fa-arrows-v"></i></td>
                {% endif %}
                {% for field in form %}
                    {% include 'bootstrap3/field.html' with tag="td" form_show_labels=False %}
                    {#                        {{ field.field.widget.media }}#}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% if inline.1.max_num > 1 %}
    <button type="button" class="btn btn-xs btn-default" style="margin: 5px;" id="add_more_{{ inline.1.prefix }}"><i
            class="fa fa-plus-circle"></i> Add more
    </button>
{% endif %}

{% include "bootstrap3/inputs.html" %}

{% if formset_tag %}</form>{% endif %}
{% endspecialspaceless %}


<script>

    var form_count_{{ formset.prefix }} = {{ formset.total_form_count }};

    $('#add_more_{{ formset.prefix }}').click(function () {


        var row = document.getElementById("empty-form-{{ formset.prefix }}").cloneNode(true);
        row.removeAttribute("id");
        row.removeAttribute("class");
        var form = row.outerHTML.replace(/__prefix__/g, form_count_{{ formset.prefix }});
        $('#tbody-{{ formset.prefix }}').append(form);
        form_count_{{ formset.prefix }}++;
        $('#id_{{ formset.prefix }}-TOTAL_FORMS').val(form_count_{{ formset.prefix }});
    });

    {% if inline.3.sortable %}
        $(document).ready(function () {
            $(".sortable").sortable({
                cursor: "move",
                stop: function (event, ui) {
                    $('#tbody-{{ formset.prefix }} tr').each(function (el) {

                        if (el !== 0) {

                            var order = $(this)[0].getElementsByClassName("order")[0];

                            if (order.value !== "") {
                                order.value = el;
                            }

                        }
                    })


                }
            });
        });
    {% endif %}

</script>

