{% load dashboard_tag %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block extraHead %}
    <link rel="stylesheet" href="{% static 'dashboard/css/custom_form.css' %}">
{% endblock %}

<form>
    <div class="box-body">
        <div class="form-horizontal report-form">
            {% if 'FormHelper' in data %}
                {% crispy data.Form data.FormHelper %}
            {% else %}
                {% crispy data.Form %}
            {% endif %}
        </div>
    </div>

    <div class="box-footer">
        {% if data.ButtonBack %}
            <a href="javascript:history.back();" class="btn btn-default">
                <i class="fa fa-arrow-left"></i>
                {% trans "Voltar" %}
            </a>
        {% endif %}

        <div class="btn-group pull-right">
            <button type="button" class="btn btn-default" id="clearFilter" onclick="clean_form_data()">
                <i class="fa fa-trash-o"></i> Clear Filter
            </button>
            <button type="submit" class="btn btn-default" name="btn_submit" value="export">
                <i class="fa fa-file-excel-o"></i> {% trans "Export to excel" %}
            </button>
            <button type="submit" class="btn btn-success" name="btn_submit" value="screen" onclick="update_form()">
                <i class="fa fa-bar-chart"></i> {% trans "Generate report" %}
            </button>
        </div>
    </div>
</form>

{% block extraJS %}
    <script src="{% static 'dashboard/js/keep_form_data.js' %}"></script>
    <script>
        $(function sync_form_data() {
            form_data = sessionStorage.getItem(window.location.href);

            if (form_data) {
                load_form_data();
                return;
            } else {
                update_form();
            }
        });

        function update_form() {
            let fields = [];

            {% for field_name in data.Form.fields %}

                id_field = 'id_{{ field_name }}';
                el = document.getElementById(id_field);

                if (el) {
                    fields.push(new FormField(id_field, el.classList[0], el.value === 'on' ? el.checked : el.value, []));
                }

            {% endfor %}

            update_form_data({ fields: fields });
        }
    </script>
{% endblock extraJS %}