{% load dashboard_tag %}
{% load static %}
{% load i18n %}

<div class="box box-default">
    <div class="box-body">
        <div class="row">
            <div class="col-sm-12">
                {{ table|safe }}
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('table.table').DataTable({
            "scrollX": true,
            dom: '<"box-header"<"table_header"B><"table_header"f><"table_header"l><"table_header"i>>rt<"table_header"p>p',
            paging: false,
            select: true,
            order: [],
            buttons: [
                {
                    extend: 'copy',
                    text: 'Copy to clipboard',
                    className: 'btn btn-sm btn-default',
                    title: null
                },
                {
                    extend: 'csv',
                    text: 'Export to CSV',
                    className: 'btn btn-sm btn-default',
                    title: null
                },
                {
                    extend: 'excel',
                    text: 'Export to Excel',
                    className: 'btn btn-sm btn-default',
                    title: null
                },
                {
                    extend: 'pdf',
                    text: 'Export to PDF',
                    className: 'btn btn-sm btn-default',
                    orientation: 'landscape',
                    title: null
                },
                {
                    extend: 'print',
                    text: 'Print',
                    className: 'btn btn-sm btn-default',
                    title: null
                }
            ]
        });
    });
</script>

