{% load dashboard_tag %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

<div class="tabbed-box">
    <div class="overlay" id="search_loading" style="display: none !important;">
        <i class="fa fa-refresh fa-spin spin_on_center"></i>
    </div>
    <div class="nav-tabs-custom box-tabs">
        <ul id="filter_badges" class="nav nav-tabs">
            <li class="header-tab">
                <h3>
                    {{ title }} {% include 'dashboard/help_info/help_info_icon.html' %}
                </h3>
            </li>
            <li id="search_tab_site" class="default_tab active">
                <a href="#tab_site" data-toggle="tab">
                    <i class="fa {{ tab_icon }} tabbed-box-tab-icon"></i>
                     {{ tab_title }}
                    <span class="label tabbed-box-tab-selected-badge-counter-transparent">0</span>
                </a>
            </li>
            <a class="btn pull-right nav-filter-button">
                <i id="show_hide_search_box_button" class="fa fa-chevron-down"></i>
            </a>
        </ul>
    </div>
    <div class="box-tabs-content collapsed-box" v-cloak="" style="display: block;">
        <form method="{{ data.Method|default:'POST' }}" action="{{ data.Buttons.Submit.1|default:'' }}" enctype="multipart/form-data">
            <div class="tab-content">
                <div class="tab-pane pad active" id="tab_site">
                    <div class="row">
                        <div class="row">
                            <div class="col-sm-12">
                                {% if 'FormHelper' in data %}
                                    {% crispy data.Form data.FormHelper %}
                                {% else %}
                                    {% crispy data.Form %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="search_buttons" class="box-footer clearfix">
                {% if data.ButtonBack %}
                    <a href="javascript:history.back();" class="btn btn-default">
                        <i class="fa fa-arrow-left"></i>
                        {% trans "Voltar" %}
                    </a>
                {% endif %}
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default" id="clearFilter" onclick="clean_form_data()">
                        <i class="fa fa-trash-o"></i> Clear Filter
                    </button>
                    {% if data.AllowExportXLS %}
                    <button type="submit" class="btn btn-default" name="btn_submit" value="export">
                        <i class="fa fa-file-excel-o"></i> {% trans "Export to excel" %}
                    </button>
                    {% endif %}
                    {% if data.AllowExportScreen %}
                    <button type="submit" class="btn btn-success" name="btn_submit" value="screen" onclick="update_form()">
                        <i class="fa fa-bar-chart"></i> {% trans "Generate report" %}
                    </button>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
</div>

{% block extraJS %}
    <script src="{% static 'dashboard/js/keep_form_data.js' %}"></script>
    <script>
        $(function sync_form_data() {

            form_data = sessionStorage.getItem(window.location.href);

            if (form_data) {
                load_form_data();
                return;
            } else {
                update_form();
            }
        });

        function update_form() {
            let fields = [];

            {% for field_name in data.Form.fields %}

                id_field = 'id_{{ field_name }}';
                el = document.getElementById(id_field);

                if (el) {
                    fields.push(new FormField(id_field, el.classList[0], el.value === 'on' ? el.checked : el.value, []));
                }

            {% endfor %}

            update_form_data({ fields: fields });
        }
    </script>
{% endblock extraJS %}