<div class="input-group">
    <div class="input-group-addon">
        <i class="fa fa-calendar"></i>
    </div>
    <input type="{{ widget.type }}"
           name="{{ widget.name }}"
           {% if widget.value != None %}
                value="{{ widget.value|stringformat:'s' }}"
           {% endif %}
           class="form-control pull-right date-input"
           placeholder="Click to select date"
           autocomplete="off"
           {% include "django/forms/widgets/attrs.html" %}>
</div>

{% if not widget.attrs.ignore_js %}
    <script>
        $(() => {
            $('#{{ widget.attrs.id }}').datetimepicker({
                format: 'YYYY-MM-DD'
            });
        });
    </script>
{% endif %}
