<div class="input-group">
    <div class="input-group-addon">
        <i class="fa fa-calendar"></i>
    </div>
    <input type="{{ widget.type }}" name="{{ widget.name }}" class="form-control pull-right" autocomplete="off"
           placeholder="Click to select date"
           {% if widget.value != None %}
                value="{{ widget.value|stringformat:'s' }}"
           {% endif %}
           {% include "django/forms/widgets/attrs.html" %}>
</div>

{% if not widget.attrs.ignore_js %}
    <script>
        $(() => {
            $('#{{ widget.attrs.id }}').datetimepicker({
                format: 'YYYY-MM'
            }).on('dp.change', () => {
            });
        });
    </script>
{% endif %}